@*
    Copyright (c) 2026 Alvin Wilsen Chan Chua
    GitHub: chuaalvw-y
    Licensed under the Alvin Wilsen Chan Chua Proprietary Use-Only License.
    See LICENSE.txt in the project root for full license information.
*@

@model ChuA.ERP.Web.Mvc.ViewModels.Companies.CompanyFormViewModel
<partial name="_ValidationSummary" />

<h2 class="h5 mt-2">Identity</h2>
<div class="row g-3">
    <div class="col-md-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control" autocomplete="off" disabled="@Model.IsEdit" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="BaseCurrencyCode" class="form-label"></label>
        <input asp-for="BaseCurrencyCode" class="form-control" maxlength="3" />
        <span asp-validation-for="BaseCurrencyCode" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="LegalName" class="form-label"></label>
        <input asp-for="LegalName" class="form-control" />
        <span asp-validation-for="LegalName" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="TaxIdentificationNumber" class="form-label"></label>
        <input asp-for="TaxIdentificationNumber" class="form-control" />
        <span asp-validation-for="TaxIdentificationNumber" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="RegistrationNumber" class="form-label"></label>
        <input asp-for="RegistrationNumber" class="form-control" />
        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
    </div>
</div>

<h2 class="h5 mt-4">Registered address</h2>
<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="AddressLine1" class="form-label"></label>
        <input asp-for="AddressLine1" class="form-control" />
        <span asp-validation-for="AddressLine1" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="AddressLine2" class="form-label"></label>
        <input asp-for="AddressLine2" class="form-control" />
        <span asp-validation-for="AddressLine2" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="City" class="form-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="State" class="form-label"></label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="PostalCode" class="form-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="CountryCode" class="form-label"></label>
        <input asp-for="CountryCode" class="form-control" maxlength="2" />
        <span asp-validation-for="CountryCode" class="text-danger"></span>
    </div>
</div>

<h2 class="h5 mt-4">Contact</h2>
<div class="row g-3">
    <div class="col-md-4">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Website" class="form-label"></label>
        <input asp-for="Website" class="form-control" />
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
</div>

<input type="hidden" asp-for="Id" />
