@*
    Copyright (c) 2026 Alvin Wilsen Chan Chua
    GitHub: chuaalvw-y
    Licensed under the Alvin Wilsen Chan Chua Proprietary Use-Only License.
    See LICENSE.txt in the project root for full license information.
*@

@model ChuA.ERP.Web.Mvc.ViewModels.Vendors.VendorFormViewModel
<partial name="_ValidationSummary" />
<div class="row g-3">
    <div class="col-md-4">
        <label asp-for="VendorCode" class="form-label"></label>
        <input asp-for="VendorCode" class="form-control" autocomplete="off" disabled="@Model.IsEdit" />
        <span asp-validation-for="VendorCode" class="text-danger"></span>
    </div>
    <div class="col-md-8">
        <label asp-for="LegalName" class="form-label"></label>
        <input asp-for="LegalName" class="form-control" />
        <span asp-validation-for="LegalName" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="DefaultCurrencyCode" class="form-label"></label>
        <input asp-for="DefaultCurrencyCode" class="form-control" maxlength="3" />
        <span asp-validation-for="DefaultCurrencyCode" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="PaymentTermsDays" class="form-label"></label>
        <input asp-for="PaymentTermsDays" type="number" class="form-control" />
        <span asp-validation-for="PaymentTermsDays" class="text-danger"></span>
    </div>
    @if (Model.IsEdit)
    {
        <div class="col-md-6 d-flex align-items-end">
            <div class="form-check">
                <input asp-for="IsBlocked" class="form-check-input" />
                <label asp-for="IsBlocked" class="form-check-label"></label>
            </div>
        </div>
    }
</div>
<input type="hidden" asp-for="Id" />
