@model ChuA.ERP.Web.Mvc.ViewModels.Inventory.ItemFormViewModel
<partial name="_ValidationSummary" />
<div class="row g-3">
    <div class="col-md-4">
        <label asp-for="Sku" class="form-label"></label>
        <input asp-for="Sku" class="form-control" autocomplete="off" disabled="@Model.IsEdit" />
        <span asp-validation-for="Sku" class="text-danger"></span>
    </div>
    <div class="col-md-8">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="DefaultUnitOfMeasure" class="form-label"></label>
        <input asp-for="DefaultUnitOfMeasure" class="form-control" maxlength="20" />
        <span asp-validation-for="DefaultUnitOfMeasure" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="ReorderPoint" class="form-label"></label>
        <input asp-for="ReorderPoint" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="ReorderPoint" class="text-danger"></span>
    </div>
    <div class="col-md-6 d-flex align-items-end">
        <div class="form-check">
            <input asp-for="IsStocked" class="form-check-input" />
            <label asp-for="IsStocked" class="form-check-label"></label>
        </div>
    </div>
</div>
<input type="hidden" asp-for="Id" />
