@model ChuA.ERP.Web.Mvc.ViewModels.Roles.RoleFormViewModel
<partial name="_ValidationSummary" />
<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" disabled="@(Model.IsEdit && Model.IsSystemRole)" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6 d-flex align-items-end">
        <div class="form-check">
            <input asp-for="IsSystemRole" class="form-check-input" disabled="disabled" />
            <label asp-for="IsSystemRole" class="form-check-label"></label>
        </div>
    </div>
    <div class="col-md-12">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="IsSystemRole" />
